._*
.DS_Store
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.o
*.a
core.*
*.log
*.dSYM
*.so
*.pyc
*.nc
.vscode/launch.json
.vscode/settings.json

# Folders
.ipynb_checkpoints
__pycache__
old
data
waveforms
waveforms-old
m4
build
radarkit.egg-info
dist

# Programs, etc.
radar
rkutil
rknchead
simple-emulator
radarkit-fft-wisdom
pgen
owav2wav

