._*
.DS_Store
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.o
*.a
core.*
*.log
*.dSYM
*.so
*.pyc
*.ipynb

# Folders
__pycache__
data
waveforms
waveforms-old

# Programs, etc.
radar
rkutil
rknchead
simple-emulator
radarkit-fft-wisdom
pgen
owav2wav

