._*
.DS_Store
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.o
*.a
core.*
*.log
*.dSYM
*.so
*.pyc

# Folders
.ipynb_checkpoints
__pycache__
old
data
waveforms
waveforms-old

# Programs, etc.
radar
rkutil
rknchead
simple-emulator
radarkit-fft-wisdom
pgen
owav2wav

